cffi==1.15.0
click==8.0.4
colorama==0.4.4
cryptography==36.0.2
Deprecated==1.2.13
Flask==2.0.3
Flask-Cors==3.0.10
itsdangerous==2.1.1
Jinja2==3.0.3
jwcrypto==1.0
MarkupSafe==2.1.1
mysql-connector==2.2.9
pycparser==2.21
pyee==9.0.4
PyJWT==2.3.0
python-dotenv==0.19.2
python-ffmpeg-video-streaming==0.1.15
six==1.16.0
typing_extensions==4.1.1
Werkzeug==2.0.3
wrapt==1.14.0
